<nz-sider [nzWidth]="200" style="background:#fff">
  <ul nz-menu [nzMode]="'inline'" style="height:100%">
    <li nz-submenu>
      <span title><i class="anticon anticon-team"></i>群聊</span>
      <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              nzDescription="{{item.description}}">
              <ng-template #nzTitle>
                <a href="http://www.baidu.com">{{item.title}}</a>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-user"></i>联系人</span>
      <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-list-item>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              nzDescription="{{item.description}}">
              <ng-template #nzTitle>
                <a href="http://www.baidu.com">{{item.title}}</a>
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </li>
  </ul>
</nz-sider>
